{% extends 'base.html.twig' %}
{% block body %}
	<div class="main_container">
		{% block header %}
			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<div class="nav toggle">
						<a id="menu_toggle">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<nav class="nav navbar-nav">
						<ul class="navbar-right">
							<li class="nav-item">
								<a href="{{path('app_logout')}}" class="btn btn-info btn-xs">
									<i class="fa fa-power-off pull-right1"></i>
									SALIR
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
		{% endblock %}
		{% block container %}
			<!--<div id="loader" class="center"></div>-->

			{{ render(controller('App\\Controller\\DefaultController:sidebar', {'request': app.request})) }}
			<!-- Content Header (Page header) -->
			<div
				class="content-wrapper">

				<!-- Main content -->
				<section class="content">
					{% block contenido %}
						<div class="row" style="display:none;">
							<div
								class="col-lg-3 col-6">
								<!-- small box -->
								<div class="small-box bg-info">
									<div class="inner">
										<h3>150</h3>

										<p>New Orders</p>
									</div>
									<div class="icon">
										<i class="ion ion-bag"></i>
									</div>
									<a href="#" class="small-box-footer">More info
										<i class="fas fa-arrow-circle-right"></i>
									</a>
								</div>
							</div>
							<!-- ./col -->
							<div
								class="col-lg-3 col-6">
								<!-- small box -->
								<div class="small-box bg-success">
									<div class="inner">
										<h3>53<sup style="font-size: 20px">%</sup>
										</h3>

										<p>Bounce Rate</p>
									</div>
									<div class="icon">
										<i class="ion ion-stats-bars"></i>
									</div>
									<a href="#" class="small-box-footer">More info
										<i class="fas fa-arrow-circle-right"></i>
									</a>
								</div>
							</div>
							<!-- ./col -->
							<div
								class="col-lg-3 col-6">
								<!-- small box -->
								<div class="small-box bg-warning">
									<div class="inner">
										<h3>44</h3>

										<p>User Registrations</p>
									</div>
									<div class="icon">
										<i class="ion ion-person-add"></i>
									</div>
									<a href="#" class="small-box-footer">More info
										<i class="fas fa-arrow-circle-right"></i>
									</a>
								</div>
							</div>
							<!-- ./col -->
							<div
								class="col-lg-3 col-6">
								<!-- small box -->
								<div class="small-box bg-danger">
									<div class="inner">
										<h3>65</h3>

										<p>Unique Visitors</p>
									</div>
									<div class="icon">
										<i class="ion ion-pie-graph"></i>
									</div>
									<a href="#" class="small-box-footer">More info
										<i class="fas fa-arrow-circle-right"></i>
									</a>
								</div>
							</div>
							<!-- ./col -->
						</div>
					{% endblock %}
				</section>
			</div>
		{% endblock %}
		{% block footer %}
			<footer>
				<div class="pull-right">
					©2023 Todos los derechos reservados. Sistema Dinámica Miasmática.
				</div>
				<div class="clearfix"></div>
			</footer>
		{% endblock %}

	</div>

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		function deleteEntityAction(deleteFormId) {
var formDOM = $("#" + deleteFormId);
Swal.fire({
title: "Esta Ud. seguro?",
text: "Esto eliminará el registro de forma permanente",
type: "warning",
showCancelButton: true,
confirmButtonColor: "#DD6B55",
confirmButtonText: "Si, estoy seguro",
cancelButtonText: "No, cancelar",
closeOnConfirm: false,
closeOnCancel: false
}).then((result) => {
if (result.isConfirmed) {
Swal.fire("Eliminado !", "El registro fue eliminado satisfatoriamente", "success");
formDOM.submit();
} else {
Swal.fire("Cancelado", "Su registro permanece guardado", "error");
}
});
}
$('.custom-file-input').on('change', function () {
let fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
$(this).next('.custom-file-label').html(fileName);
});
// $('.formValidate').validate()

function deleteEntityAction(deleteFormId) {
let formDOM = $("#" + deleteFormId);
Swal.fire({
title: "Esta seguro de eliminar?",
text: "Una vez eliminado, este registro se perderá y no podra ser recuperado.",
icon: "warning",
showCancelButton: true,
confirmButtonColor: "#3085d6",
cancelButtonColor: "#d33",
confirmButtonText: "Si, eliminar !"
}).then((result) => {
if (result.isConfirmed) {
formDOM.submit();
Swal.fire("Eliminado !", "El registro fue eliminado satisfatoriamente", "success");
} else {
Swal.fire("Cancelado", "Su registro permanece guardado", "error");
}
});
}
	</script>
{% endblock %}
